<!DOCTYPE html>
<html>
<head>
  <title>Gerador de Internos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Bem-vindo ao gerador de Pagamento Docentes da Escola Modesto</h1>

  <h2>{{mensagem_sucesso}}</h2>
  
  <form method="POST" action="{{ url_for('processar_formulario') }}" class="form" enctype="multipart/form-data">
    <label for="mes_var">Informe a qual mês esse pagamento é referente:</label>
    <select id="mes_var" name="mes_var">
      {% for key, value in dict_mes.items() %}
      <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>

    <label for="numero_var">Digite o número do Primeiro Interno:</label>
    <input type="number" id="numero_var" name="numero_var">

    <label for="dia_var">Digite o dia de envio do Interno:</label>
    <input type="number" id="dia_var" name="dia_var">

    <label for="responsavel_var">Quem é o responsável pela assinatura dos internos?</label>
    <select id="responsavel_var" name="responsavel_var">
      <option value="Silvia Elaine">Silvia Elaine</option>
      <option value="Anelisa Luciene">Anelisa Luciene</option>
      <option value="Outros">Outros</option>
    </select>
    <input type="hidden" name="acao" value="">
    <button type="submit" name="gerar_internos" value="gerar_internos" onclick="document.querySelector('input[name=acao]').value = 'gerar_internos';">Gerar Internos</button> 
    <button type="submit" name="gerar_cargas" value="gerar_cargas" onclick="document.querySelector('input[name=acao]').value = 'gerar_cargas';">Gerar Carga Suplementar</button>
  </form>
</body>
</html>
