<!DOCTYPE html>
<html>
<head>
  <title>Gerador de Internos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Bem-vindo ao gerador de Internos de Alteração de Horário Docentes da Escola Modesto</h1>

  <div class="instruction">
    <p>
      Antes de seguir com o programa, confira as etapas:
    </p>
    <ol>
      <li>Faça o download do arquivo de alteração de horários no formato .csv: 
        <a href="https://docs.google.com/spreadsheets/d/1Yuygb6lu4j65KBxw35vzFFb52u_R2rORt0rcdVFTJR0/edit?usp=sharing" target="_blank">Alteração de Horários Aqui!</a>
      </li>
      <li>Faça o download do arquivo com os horários docentes homologado no formato .csv: 
        <a href="https://docs.google.com/spreadsheets/d/1iP9gi0wUD5N1qq51emizqnvojxfq_boT/edit?usp=sharing&ouid=112640400016012005391&rtpof=true&sd=true" target="_blank">Horários Homologados Aqui!</a> 
      </li>
   </ol>
  </div>

  <form method="POST" action="{{ url_for('gerar_internos') }}" class="form" enctype="multipart/form-data">
    
    <label for="alteracao">Selecione o arquivo de alteração de horários:</label>
    <input type="file" id="alteracao" name="alteracao">

    <label for="homologado">Selecione o arquivo de horários homologados:</label>
    <input type="file" id="homologado" name="homologado">

    <label for="mes_var">Informe a qual mês esse pagamento é referente:</label>
    <select id="mes_var" name="mes_var">
      {% for key, value in dict_mes.items() %}
      <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>

    <label for="numero_var">Digite o número do Primeiro Interno:</label>
    <input type="number" id="numero_var" name="numero_var">

    <label for="dia_var">Digite o dia de envio do Interno:</label>
    <input type="number" id="dia_var" name="dia_var">

    <label for="responsavel_var">Quem é o responsável pela assinatura dos internos?</label>
    <select id="responsavel_var" name="responsavel_var">
      <option value="Silvia Elaine">Silvia Elaine</option>
      <option value="Anelisa Luciene">Anelisa Luciene</option>
      <option value="Outros">Outros</option>
    </select>

    <button type="submit">Gerar Internos</button>
  </form>
</body>
</html>
